/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Raleway', sans-serif;
}
header {
    background-color: #fbf9f9;
    padding: 0;
    text-align: left;
    font-size: 1rem ;
    color: #3a3a3a;
    width: 100%;
    justify-content: space-between;
    font-family: "Raleway",sans-serif;
    text-transform: capitalize;
    align-items: center;
    position: relative;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}


.active {
    border-bottom: 1px solid #3a3a3a;
}
/* Navbar styles with dropdown toggle */
nav {
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}
/* Nav toggle */
#nav-toggle:checked ~ nav {
    display: inline-block;

}
#nav-toggle {
    display: none;
}


label.nav-toggle-label{
    font-size: 2rem;
}